<div id="rescuemd" class="padding-global padding-section-medium"><div class="container-large"><div class="product_component"><div id="w-node-d9be50a7-81f8-0f3d-aee4-d120166d8563-6bd3e787" class="product_list_header max-width-full"><div id="w-node-d9be50a7-81f8-0f3d-aee4-d120166d8564-6bd3e787" class="product_heading-wrapper"><div class="product_heading"><div class="max-width-large"><div class="shop_heading"><div class="max-width-large"><div class="margin-bottom margin-small"><h2 class="heading-style-h2">
{{ section.settings.text_headline }}
</h2>
</div></div><div class="text-size-regular"> {{ section.settings.richtext_text }} </div>
</div></div></div></div><div class="product_list-wrapper w-dyn-list"><div role="list" class="product_list col-2 w-dyn-items">{% for product in section.settings.collection_collection.products limit: section.settings.collection_collection_limit %}
<div role="listitem" class="product_list-item w-dyn-item">
    
    {% render 'product_item', product: product %}

    
</div>
{% endfor %}
</div><div class="hide w-dyn-empty"><div>No items found.</div></div></div></div><div class="product_list-wrapper w-dyn-list"><div role="list" class="product_list w-dyn-items">{% for product in section.settings.collection_collection.products limit: section.settings.collection_collection_limit %}
<div role="listitem" class="product_list-item w-dyn-item">
    
    {% render 'product_item', product: product %}

    
</div>
{% endfor %}
</div><div class="hide w-dyn-empty"><div>No items found.</div></div></div></div></div></div> {% schema %} {"tag":"section","name":"Collection 4","class":"section_product border-bottom","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Rescuemd"},{"id":"richtext_text","type":"richtext","label":"Text","default":"<p>Shop our curated selection of skin care products to bring the Skin Bar and Studio experience home.<br\/><\/p>"},{"id":"collection_collection","type":"collection","label":"Collection"},{"type":"range","id":"collection_collection_limit","min":1,"max":99,"step":1,"label":"Limit: Collection","default":6}],"presets":[{"name":"Collection 4","category":"Liquify"}]} {% endschema %}